################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Zelda/DesignTimeBuild/.dtbcache.v2
/.vs/Zelda/FileContentIndex/1cd469f3-b1d9-40ac-b60b-fb07dfbfd680.vsidx
/.vs/Zelda/FileContentIndex/51dd487f-31dc-4593-93c5-4b73e7c18504.vsidx
/Zelda/Content/obj/DesktopGL/net6.0/Content/Font.mgcontent
/Zelda/Content/obj/DesktopGL/net6.0/Content
/Zelda/Content/File.spritefont
/Zelda/Content/bin/DesktopGL/Content/Font.xnb
/Zelda/Content/bin/DesktopGL/Content
/Zelda/Content
/Zelda/bin/Debug/net6.0/Content/Font.xnb
/Zelda/bin/Debug/net6.0/Content
/Zelda
/.vs/Zelda/FileContentIndex/9c3b99f5-03c3-4119-b105-ed4946d657ac.vsidx
/.vs/Zelda/FileContentIndex/85ee0bba-cf02-41e7-a73e-323c456da09a.vsidx
/.vs/Zelda/FileContentIndex/4629504c-0365-47eb-878f-7bc9731b9611.vsidx
