################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Zelda/DesignTimeBuild/.dtbcache.v2
/.vs/Zelda/FileContentIndex/1cd469f3-b1d9-40ac-b60b-fb07dfbfd680.vsidx
/.vs/Zelda/FileContentIndex/51dd487f-31dc-4593-93c5-4b73e7c18504.vsidx
